.services-container {
  background-color: #c5c95a;
  padding: 40px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #67ecf8;
}

.service-card {
  background-color: #500505;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
