/* Services Section Styles */
.services-section {
  padding: 60px 0;
  background-color: #f4f4f4;
}

.services-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}

.services-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.service-card {
  background-color: rgb(108, 20, 20);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-icon {
  font-size: 3rem;
  color: #07274a;
  margin-bottom: 20px;
}

.service-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #c9dbf2;
}

.service-description {
  font-size: 2.2rem;
  color: #ffffff;
}



